asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
crispy-bootstrap5==0.7
distlib==0.3.6
Django==4.2.2
django-autoslug==1.9.9
django-ckeditor==6.6.1
django-cors-headers==4.0.0
django-crispy-forms==2.0
django-embed-video==1.4.8
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-quill-editor==0.1.40
djangorestframework==3.14.0
filelock==3.12.2
idna==3.4
Pillow==9.5.0
platformdirs==3.8.0
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.23.1
